{% extends "base.html" %}

{% block content %}
<div class="container" role="main">
    {% if error %}
        <div class="alert alert-danger" role="alert">
            <strong>Error: </strong> {{ error }}
        </div>
    {% endif %}

    {% if not error %}
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Leave Guild</h3>
                </div>

                <div class="panel-body">
                    <form action="{% url 'guilds:leave_guild' %}" method="post">{% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Leave" class="btn btn-danger" role="button"/>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
